<h1 class="text-center mt-4">BÚSQUEDA DE ISSUES</h1>

<input
  class="form-control"
  type="text"
  [(ngModel)]="username"
  placeholder="propietario"
/>
<input
  class="form-control"
  type="text"
  [(ngModel)]="repo"
  placeholder="repositorio"
/>

<button
  (click)="search()"
  type="button"
  class="btn btn-outline-primary btn-block"
>
  Buscar
</button>

<div class="card-columns mt-4">
  <div
    class="card animated fadeIn fast"
    *ngFor="
      let issue of issues | paginate: { itemsPerPage: 10, currentPage: p }
    "
  >
    <img [src]="issue.user.avatar_url" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ issue.user.login }}</h5>
      <p class="card-text">
        {{ issue.title }}
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Creado: {{ issue.created_at | date: "d-M-y" }}</small
        >
      </p>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <pagination-controls
    (pageChange)="p = $event"
    maxSize="9"
    directionLinks="true"
    autoHide="true"
    responsive="true"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
    >
  </pagination-controls>
</nav>
